
{{ define "main" }}
    <div class="bgimg">
        <video autoplay muted loop poster="poster.jpg">
            {{ if .Site.Params.background }}
                <source src="{{ .Site.Params.background }}" type="video/mp4">
            {{ else }}
                <source src="bg.mp4" type="video/mp4">
            {{ end }}
        </video>
        {{ if .Site.Params.twitter.enable }}
            <div class="topright"> 
                {{ partial "twitter-feed.html" . }}
            </div>        
        {{ end }}
        <div class="topleft">
            {{ if .Site.Params.title }}
                <p>{{ .Site.Params.title }}</p>
            {{ else }}
                <p>Coming Soon HUGO</p>
            {{ end }}
        </div>
        <div class="middle">
            {{ if .Site.Params.message }}
                <h1>{{ .Site.Params.message }}</h1>
            {{ else }}
                <h1>COMING SOON</h1>
            {{ end }}
            <hr>
            <p id="demo"></p>
            <div id="countdown" data-release="{{ .Site.Params.release }}"></div>
        </div>
        <div class="bottomleft">
            <p>
<!-- Professional verification provided by Psychology Today -->
<a href="https://www.psychologytoday.com/profile/308634" class="sx-verified-seal"></a>
<script type="text/javascript" src="https://member.psychologytoday.com/verified-seal.js" data-badge="16" data-id="308634" data-code="aHR0cHM6Ly93d3cucHN5Y2hvbG9neXRvZGF5LmNvbS9hcGkvdmVyaWZpZWQtc2VhbC9zZWFscy9bQkFER0VdL3Byb2ZpbGUvW1BST0ZJTEVfSURdP2NhbGxiYWNrPXN4Y2FsbGJhY2s="></script>
<!-- End Verification -->
            </p>
        </div>
    </div>
    <div class="left">
        {{ if isset .Site.Params "socialicons" }}
        <section class="social-icons">
            <ul class="social-icons-list">
                {{ range .Site.Params.SocialIcons }}
                <li class="social-icon">
                    {{ $iconName := .name }}
                    <a href="{{ if eq $iconName "email" }}mailto:{{ .url }} {{ else }}{{ .url }}{{ end }}"
                       {{ if .rel }}rel="{{ .rel }}"{{ end }}>
                        <img src="{{ $.Site.BaseURL }}/svg/icons/{{ .name }}.svg" alt="test" />
                    </a>
                </li>
                {{ end }}
            </ul>
        </section>
        {{ end }}
    </div>
        <script src="{{ "/js/script.js" | relURL }}"></script>
{{ end }}
